.bannerContainer {
  @apply flex flex-row-reverse;
  min-height: 500px;
  max-height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
  background-color: #00000070;
  background-image: url("/images/home/banner.jpg");
}

.titleRootContainer {
  @apply flex flex-col text-white gap-y-8;
  background: linear-gradient(90deg, transparent, #2b2623de 30%);
  padding: 32px 32px 0 32px;
  width: 50%;
}
